* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1100px;
}

.btn {
  background-color: red;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-right: 7.75rem;
}

.btn:hover {
  background-color: #333;
  color: red;
}

.btn2 {
  background-color: red;
  padding: 12px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn2:hover {
  background-color: #333;
  color: red;
}

#navbar img {
  width: 120px;
  margin-left: 12.75rem;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

#header {
  background: url("./IMG/images.jpeg") no-repeat center center/cover;
  height: 100vh;
  border-bottom: 5px solid #777;
}

.shade {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.sectionone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

.sectionone h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.sectionone h5 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.sectionone p {
  padding-bottom: 1rem;
}

.sectionone input {
  width: 500px;
  padding: 0.75rem;
}

#sectiontwo {
  background-color: black;
  color: #fff;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #777;
}

#sectiontwo h1 {
  font-size: 2.75rem;
  padding-bottom: 1rem;
}

#sectiontwo p {
  line-height: 1.7;
  font-weight: 100;
  font-size: 1.75rem;
}

#sectiontwo img {
  width: 400px;
  height: 250px;
}

#sectionthree {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid #777;
}

#sectionthree h1 {
  color: #fff;
  font-size: 2.75rem;
}

#sectionthree p {
  color: #fff;
  line-height: 1.7;
  font-weight: 100;
  font-size: 1.75rem;
  padding-right: 1rem;
}

#sectionthree img {
  width: 320px;
}

#sectionthree .imagecontainer {
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#sectionthree .imagetext {
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#sectionfour {
  background-color: black;
  text-align: center;
  border-bottom: 5px solid #777;
}

#sectionfour h1 {
  color: #fff;
  padding-top: 1rem;
  font-size: 2.75rem;
}

#sectionfour h3 {
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
}

#sectionfour h3:hover {
  color: red;
  cursor: pointer;
}

#sectionfour .info {
  margin-top: 5rem;
}

#sectionfour input {
  width: 500px;
  padding: 0.75rem;
}

#sectionfour .emailarea {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#sectionfour p {
  color: #fff;
}

.bgdark {
  background-color: #222;
  margin-left: 15rem;
  margin-right: 10rem;
}

#five {
  background-color: black;
  padding-top: 1rem;
  border-bottom: 5px solid #777;
}

#five a {
  color: #fff;
}

#five a:hover {
  color: red;
}

#five p {
  color: #fff;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

#five .question {
  color: #fff;
  padding-left: 1.75rem;
}

#five .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-left: 2rem;
  line-height: 1.7;
}

#mainfooter {
  background-color: #777;
  color: black;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */